@use '../../scss/' as *;

.detail-hero {
  padding: 9rem 0;
  width: 100%;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    @include overlay();
  }

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-image: linear-gradient(to top, $body-bg, rgba($black, 0));
  }

  &__content {
    @include flex(center, center);
    position: relative;

    &__poster {
      flex: 1;
      @include flex(center, flex-start);
      position: relative;
      padding: 0 3rem;
      width: 55%;

      img {
        width: 400px;
        border-radius: $border-radius;
        box-shadow: $box-shadow;
      }
      @include tablet {
        display: none;
      }
    }

    &__info {
      padding: 0 3rem;

      & > * ~ * {
        margin-top: 2rem;
      }

      .title {
        font-size: 5rem;
        font-weight: 700;
        line-height: 1;

        @include tablet {
          font-size: 4rem;
        }
      }

      .genres {
        display: flex;
        flex-wrap: wrap;
        .btns {
          margin: 0.25rem 0.5rem 0.25rem 0;
        }
      }

      .overview {
        font-size: 1rem;
        font-weight: 600;
      }

      .cast {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;

        .casts__item {
          &__img {
            width: 120px;
            height: 180px;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: $border-radius;
          }

          &__name {
            width: 120px;
            font-weight: 600;
            margin-top: 0.5rem;
          }

          @include mobile {
            &__img {
              width: 80px;
              height: 120px;
            }
            &__name {
              width: 80px;
            }
          }
        }
      }
    }
  }
}

.detail-video-container {
  margin-top: 5rem;

  .detail-video {
    padding: 0 3rem;
    margin: 2rem 0;
    @include flex(center, center);
    flex-direction: column;

    &__title {
      width: 60%;
      margin-bottom: 0.5rem;
    }

    &__iframe {
      width: 60%;

      iframe {
        border: 1px solid transparent;
        border-radius: $border-radius;
      }
    }

    @include tablet {
      &__title {
        width: 80%;
      }
      &__iframe {
        width: 80%;
      }
    }

    @include mobile {
      &__title {
        width: 100%;
      }
      &__iframe {
        width: 100%;
      }
    }
  }
}

.detail-similar {
  margin-top: 5rem;
  padding: 0 3rem;
}
